In [ ]:
import pandas as pd
df = pd.read_csv('loan_data.csv')
df.head()

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
0,1,debt_consolidation,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0
1,1,credit_card,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0
2,1,debt_consolidation,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0
3,1,debt_consolidation,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0
4,1,credit_card,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

df = pd.get_dummies(df, columns = ['purpose'], drop_first=True)

X = df.drop('credit.policy', axis = 1)
y = df['credit.policy']

In [ ]:
df

,credit.policy,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid,purpose_credit_card,purpose_debt_consolidation,purpose_educational,purpose_home_improvement,purpose_major_purchase,purpose_small_business
0,1,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0,0,1,0,0,0,0
1,1,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0,1,0,0,0,0,0
2,1,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0,0,1,0,0,0,0
3,1,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0,0,1,0,0,0,0
4,1,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9573,0,0.1461,344.76,12.180755,10.39,672,10474.000000,215372,82.1,2,0,0,1,0,0,0,0,0,0
9574,0,0.1253,257.70,11.141862,0.21,722,4380.000000,184,1.1,5,0,0,1,0,0,0,0,0,0
9575,0,0.1071,97.81,10.596635,13.09,687,3450.041667,10036,82.9,8,0,0,1,0,1,0,0,0,0
9576,0,0.1600,351.58,10.819778,19.18,692,1800.000000,0,3.2,5,0,0,1,0,0,0,1,0,0
9577,0,0.1392,853.43,11.264464,16.28,732,4740.000000,37879,57.0,6,0,0,1,0,1,0,0,0,0

In [ ]:
X_train, X_temp, y_train, y_temp = train_test_split(X, y, test_size=0.3, random_state=42)
X_val, X_test, y_val, y_test = train_test_split(X_temp, y_temp, test_size=0.5, random_state=42)

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_val = scaler.transform(X_val)
X_test = scaler.transform(X_test)

print(X_train.shape, X_val.shape, X_test.shape)

(6704, 18) (1437, 18) (1437, 18)

In [ ]:
X_train

array([[-0.15522071,  0.96978383,  0.47515398, ...,  3.81503923,
        -0.22204389, -0.2621205 ],
       [-0.38139207, -0.3467776 , -1.69078518, ..., -0.2621205 ,
        -0.22204389, -0.2621205 ],
       [ 0.29341429, -0.88919741, -0.8701731 , ..., -0.2621205 ,
        -0.22204389, -0.2621205 ],
       ...,
       [ 0.74575702,  1.96022186,  0.13657867, ..., -0.2621205 ,
        -0.22204389, -0.2621205 ],
       [-0.21825207, -0.33913789,  0.10949238, ..., -0.2621205 ,
        -0.22204389, -0.2621205 ],
       [ 0.5937402 ,  0.04771396,  0.77392127, ..., -0.2621205 ,
        -0.22204389, -0.2621205 ]])

In [ ]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

model = Sequential([
    Dense(128, activation = 'relu', input_shape = (X_train.shape[1],)),
    Dense(64, activation = 'relu'),
    Dense(32,  activation = 'relu'),
    Dense(1, activation = 'sigmoid')
])

model.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics= ['accuracy'])

In [ ]:
128*64

8192

In [ ]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 128)               2432

 dense_10 (Dense)            (None, 64)                8256

 dense_11 (Dense)            (None, 32)                2080

 dense_12 (Dense)            (None, 1)                 33

=================================================================
Total params: 12801 (50.00 KB)
Trainable params: 12801 (50.00 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [ ]:
model.fit(x = X_train, y = y_train, validation_data = (X_val, y_val), epochs = 10, batch_size = 16)

Epoch 1/10
419/419 [==============================] - 2s 4ms/step - loss: 0.0768 - accuracy: 0.9729 - val_loss: 0.1272 - val_accuracy: 0.9569
Epoch 2/10
419/419 [==============================] - 2s 4ms/step - loss: 0.0682 - accuracy: 0.9760 - val_loss: 0.1470 - val_accuracy: 0.9527
Epoch 3/10
419/419 [==============================] - 1s 3ms/step - loss: 0.0729 - accuracy: 0.9733 - val_loss: 0.1183 - val_accuracy: 0.9562
Epoch 4/10
419/419 [==============================] - 2s 4ms/step - loss: 0.0616 - accuracy: 0.9803 - val_loss: 0.1309 - val_accuracy: 0.9541
Epoch 5/10
419/419 [==============================] - 2s 4ms/step - loss: 0.0575 - accuracy: 0.9803 - val_loss: 0.1405 - val_accuracy: 0.9499
Epoch 6/10
419/419 [==============================] - 1s 3ms/step - loss: 0.0533 - accuracy: 0.9820 - val_loss: 0.1341 - val_accuracy: 0.9624
Epoch 7/10
419/419 [==============================] - 2s 4ms/step - loss: 0.0501 - accuracy: 0.9834 - val_loss: 0.1329 - val_accuracy: 0.9589
Epoch 8/10
419/419 [==============================] - 2s 5ms/step - loss: 0.0531 - accuracy: 0.9825 - val_loss: 0.1506 - val_accuracy: 0.9548
Epoch 9/10
419/419 [==============================] - 2s 4ms/step - loss: 0.0469 - accuracy: 0.9831 - val_loss: 0.1267 - val_accuracy: 0.9638
Epoch 10/10
419/419 [==============================] - 2s 4ms/step - loss: 0.0430 - accuracy: 0.9848 - val_loss: 0.1548 - val_accuracy: 0.9569

In [ ]:
model.evaluate(X_test, y_test)

45/45 [==============================] - 0s 4ms/step - loss: 0.1502 - accuracy: 0.9589

[0.15018008649349213, 0.9589422345161438]

In [ ]:
model.predict(X_test)

45/45 [==============================] - 1s 5ms/step

array([[0.99999976],
       [0.00427333],
       [0.9999758 ],
       ...,
       [0.9999993 ],
       [0.9999753 ],
       [0.9834751 ]], dtype=float32)

In [ ]:
from collections import Counter
Counter(y_test)

Counter({1: 1140, 0: 297})

In [ ]:
1140/(1140+297)

0.7933194154488518